.task__wrapper-title{
    margin: 0px;
    padding: 20px 15px;
    background-color: black;

    
}
.task__title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.task__subtitle{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0px;
}

.task__filter-label{
    font-size: 18px;
    font-weight: bold;
}

.task__content{
    margin: 20px 20px
}

.task__title-label{
    font-size: px;
}

.task__button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}