<header class="task__wrapper-title">
    <h1 class="task__title">Gestoring Task</h1>
</header>
<section class="task__content">
    <h2 class="task__subtitle">Lista de tarea</h2>
    <div class="task__filter">
        <label class="task__filter-label">Filtro:</label>
        <button class="task__button" [ngClass]="{'task__button--active': filter == 'todas'}" (click)="filter = 'todas'; filterTasks()">Todas</button>
        <button class="task__button" [ngClass]="{'task__button--active': filter == 'pendientes'}" (click)="filter = 'pendientes'; filterTasks()">Pendiente</button>
        <button class="task__button" [ngClass]="{'task__button--active': filter == 'completadas'}" (click)="filter = 'completadas'; filterTasks()">Completado</button>
    </div>
    <button (click)="openFormCreateTask()" class="task__button task__button--create-task">Crear Tarea</button>
    <article class="task__card" *ngFor="let task of tasks$ | async">
        <header class="task__card-header">
            <span class="task__card-id">{{'Tarea '+task.id}}</span>
            <button (click)="changeStatus(task)" class="task__status-button">
                <span *ngIf="task.status == 'pending'" class="task__status-pending" alt="Cambia el estado">Pendiente</span>
                <span *ngIf="task.status == 'completed'" class="task__status-completed">Completado</span>            
            </button>
        </header>
        
        <h2 class="task__card-title">{{task.title}}</h2>
        <span class="task__card-date">{{task.date_limit| date:'yy/MM/dd'}}</span>
        <h3 class="task__card-subtitle">Personas Asociadas{{' '+task.people?.length}}:</h3>
        <div *ngFor="let person of task.people">
            <span class="task__card-name-person">{{person.name}}</span>
            <h4>Habilidades:</h4>
            <div class="task__card-skills" >
                <div *ngFor="let skill of person.skills">
                    <span class="task__card-name-skill">{{skill.name}}</span>
                </div>
            </div>
        </div>
    </article>
</section>


