<header class="task__wrapper-title">
    <h1 class="task__title">Gestoring Task</h1>
</header>
<section class="task__content">
    <h2 class="task__subtitle">Lista de tarea</h2>
    <div class="task__filter">
        <label class="task__filter-label">Filtro:</label>
        <button class="task__button">Todas</button>
        <button class="task__button">Pendiente</button>
        <button class="task__button">Completado</button>
    </div>
    <button (click)="openFormCreateTask()" class="task__button">Crear Tarea</button>
    <article class="task__card" *ngFor="let task of tasks$ | async">
        <header class="task__header-card">
            <span class="task__id-card">{{'Tarea '+task.id}}</span>
            <button (click)="changeStatus(task)" class="task__status-button">
                <span *ngIf="task.status == 'pending'" class="task__status-pending">Pendiente</span>
                <span *ngIf="task.status == 'completed'" class="task__status-completed">Completado</span>            
            </button>
        </header>
        
        <h2 class="task__title-card">{{task.title}}</h2>
        <span class="task__date-card">{{task.date_limit| date:'yy/MM/dd'}}</span>
        <h3>Personas Asociadas{{' '+task.people.length}}:</h3>
        <div *ngFor="let person of task.people">
            <span class="task__name-person-card">{{person.name}}</span>
            <h4>Habilidades:</h4>
            <div class="task__skills-card" *ngFor="let skill of person.skills">
                <span class="task__name-skill-card">{{skill.name}}</span>
            </div>
        </div>
    </article>
</section>


