.task{

    &__wrapper-title{
        margin: 0px;
        padding: 20px 15px;
        background-color: black;
    }
    &__title{
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin: 0px;
    }

    &__subtitle{
        font-size: 20px;
        font-weight: bold;
        color: black;
        margin: 0px;
    }

    &__filter-label{
        font-size: 18px;
        font-weight: bold;
    }

    &__content{
        margin: 20px 20px
    }

    &__title-label{
        font-size: px;
    }

    &__button{
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;

        &--create-task{
            width: 100%;
        }

        &--active, &:hover{
            background-color: rgb(173, 167, 167);
            color: black;
        }
    }

    &__card{
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 89%;

        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-id{
            font-size: 18px;
        }
    
        &-title{
            font-size: 16px;
        }
    
        &-name-person{
            font-size: 16px;
        }
    
        &-name-skill{
            background-color: black;
            color: white;
            border: none;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            font-size: 12px;
            cursor: pointer;
        }
    
        &-skills{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            min-height: 80px;
            height: auto;
            margin: 10px 0px;
        }
    }

    

    &__status{
    
        &-button{
            background-color: transparent;
            color: black;
            border: 1px solid rgb(190, 178, 178)s;
            background-color: transparent;
            border-radius: 10px;
            margin: 5px;
            padding: 10px;
            cursor: pointer;
        }

        &-pending{
            color:#d4b837
        }

        &-completed{
            color: green
        }
    }

}