/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body { 
    margin: 0px; 
    padding: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

* {
    // Custom scrollbar styles
    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
        height: 12px; /* Height of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 20px;
        /* margin: 5px;
        padding: 0px 5px; */

    }

    &::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 20px; /* Rounded corners of the scrollbar thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
    }
}
